* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  min-width: 320px;
}

  @font-face {
    font-family: opensans-bold;
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: opensans-regular;
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

@media (min-width: 961px) {
.header {
  background: url('../images/football_1920.jpg') no-repeat;
  position: relative;
  z-index: 2;
  padding-top: 45px;
  background-size: cover;
}

.header::after {
  content:"";
  background-color: #0a0e34;
  background-size: cover;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 0.9;
  z-index: -1;
}

.logo-box {
  display: block;
  text-align: center;
}

.svg {
  width: 15%;
}

.preview-article {
  margin-top: 300px;
  margin-left: 10%;
  display: block;
  text-transform: uppercase;
  font-size: 90px;
  letter-spacing: 5px;
  line-height: 31px;
  color: #ffffff;
  font-family: opensans-bold;
  font-weight: 700;
}

.preview-text2 {
  display: block;
  margin-top: 25px;
  font-size: 90px;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 100px;
  color: #ffffff;
  font-family: opensans-bold;
  font-weight: 700;
  margin-left: 15%;
}

.stores {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 675px;
  margin-top: 200px;
}

.button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 311px;
  border-radius: 34px;
  background-color: #5e42b0;
  border-color: #5e42b0;
  padding-left: 55px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-bottom: 112px;

}

.button:active, .button:focus {
  outline: none;
}

.store-icon {
  fill: white;
  width: 75px;
}

.download-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 25px;
  height: inherit;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}

.download {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: opensans-regular;
  font-weight: 400;
}

.store {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: opensans-bold;
  font-weight: 700;
}

.player {
  margin-top: 68px;
  margin-left: auto;
  position: absolute;
}

.side-bar {
  padding-top: 115px;
  margin-right: auto;
}

.title {
  text-transform: uppercase;
  font-size: 80px;
  color: #e7e7e7;
  font-family: opensans-bold;
  font-weight: 700;
  margin-right: auto;
  margin-left: 50%;
}

.side {
  padding-top: 110px;
  padding-bottom: 60px;
}

.side:nth-of-type(2n) {
  background-color: #f6f4fa;
}

.side:nth-of-type(3n) {
  background-color: #5e42b0;
}

.name {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: 50%;
}

.number {
  font-size: 18px;
  letter-spacing: 1px;
  color: #000000;
  font-family: opensans-bold;
  font-weight: 700;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.number::after {
  content:"";
  position: absolute;
  left: 0;
  margin-top: 25px;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.number_white {
  font-size: 18px;
  letter-spacing: 1px;
  color: #000000;
  font-family: opensans-bold;
  font-weight: 700;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.number_white::after {
  content:"";
  position: absolute;
  left: 0;
  margin-top: 25px;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #ffffff;
}

.number:nth-of-type(3n)::after {
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #f5f6f7;
}

.name-title {
  font-size: 36px;
  letter-spacing: 2px;
  color: #c1c1c1;
  font-family: opensans-bold;
  font-weight: 700;
  margin-left: 10px;
}

.text {
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  font-family: opensans-regular;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 50%;
}

.b-side-bar {
  padding-top: 115px;
  margin-left: auto;
}

.b-player {
  position: absolute;
  right: 1%;
}

.b-title {
  text-transform: uppercase;
  font-size: 80px;
  color: #e7e7e7;
  font-family: opensans-bold;
  font-weight: 700;
  margin-left: 9%;
  padding-bottom: 50px;
}

.b-name {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: 9%;
}

.b-text {
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  font-family: opensans-regular;
  font-weight: 400;
  margin-top: 30px;
  margin-left: 9%;
  margin-right: 45%;
}

.side-menu {
  position: relative;
}

.side-number-1{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  line-height: 155px;
  font-size: 18px;
  letter-spacing: 1px;
  background-color: #5e42b0;
  color: #f5f6f7;
  font-family: opensans-bold;
  font-weight: 700;
  width: 168px;
  height: 155px;
}

.side-number-1::before{
  content:"";
  position: absolute;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #8f7bc8;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55%;
  z-index: 2;
}

.side-number-2{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 155px;
  background-color: #5e42b0;
  color: #f5f6f7;
  font-family: opensans-bold;
  font-weight: 700;
  width: 168px;
  height: 155px;
}

.side-number-2::before{
  content:"";
  position: absolute;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #8f7bc8;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55%;
  z-index: 2;
}

.side-number-3{
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
  font-size: 18px;
  line-height: 155px;
  letter-spacing: 1px;
  color: #f5f6f7;
  background-color: #5e42b0;
  font-family: opensans-bold;
  font-weight: 700;
  width: 168px;
  height: 155px;
}

.side-number-3::before{
  content:"";
  position: absolute;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #8f7bc8;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 55%;
  z-index: 2;
}

.side-menu:nth-of-type(even) .side-container {
    flex-direction: row-reverse;
}

.side-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.side-photo {
  width: 50%;
}

.side-photo img{
  display: block;
}

.side-article {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 50%;
  padding-top: 15%;
  margin-right: auto;
  margin-left: auto;
  vertical-align: middle;
  align-content: center;
}

.side-a-odd {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 80px;
  letter-spacing: 2px;
  color: #c1c1c1;
  font-family: opensans-bold;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 123px;
}

.side-a-even {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 80px;
  letter-spacing: 2px;
  line-height: 60px;
  color: #c1c1c1;
  font-family: opensans-bold;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 200px;
}

.side-t-odd{
  margin-top: 10%;
  padding-left: 125px;
  padding-right: 11%;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  font-family: opensans-regular;
  font-weight: 400;
}

.side-t-even{
  margin-top: 10%;
  padding-left: 200px;
  padding-right: 11%;
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  font-family: opensans-regular;
  font-weight: 400;
}

.footer {
  background: url('../images/game_1920.jpg') no-repeat;
  position: relative;
  z-index: 2;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 230px;
  padding-bottom: 50px;
}

.footer::after {
  content:"";
  background-color: #0a0e34;
  background-size: 100% 100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 0.9;
  z-index: -1;
}

.app-link{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  width: 880px;
}

.icon-link-app{
  width: 135px;
  height: 135px;
  border-radius: 38px;
  background-color: #5e42b0;
}

.f-container{
  margin-left: 40px;
}

.f-download{
  text-transform: uppercase;
  font-size: 80px;
  letter-spacing: 4px;
  color: #ffffff;
  font-family: opensans-regular;
  font-weight: 700;
}

.f-text{
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  color: #a496ca;
  font-family: opensans-bold;
  font-weight: 400;
}

.footer-logo-box{
  margin-top: 265px;
  width: 215px;
  margin-right: auto;
  margin-left: auto;
}
}

@media (min-width: 640px) and (max-width: 960px) {
  .header {
    background: url('../images/football_1280.jpg') no-repeat;
    position: relative;
    z-index: 2;
    padding-bottom: 110px;
    padding-top: 45px;
    background-size: cover;
  }

  .header::after {
    content:"";
    background-color: #0a0e34;
    background-size: cover;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.9;
    z-index: -1;
  }

  .logo-box {
    display: block;
    text-align: center;
    width: 100%;
  }

  .svg {
    width: 30%;
  }

  .preview-article {
    margin-top: 300px;
    margin-left: 10%;
    display: block;
    text-transform: uppercase;
    font-size: 64px;
    letter-spacing: 5px;
    line-height: 31px;
    color: #ffffff;
    font-family: opensans-bold;
    font-weight: 700;
  }

  .preview-text2 {
    display: block;
    margin-top: 25px;
    font-size: 64px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 100px;
    color: #ffffff;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 120px;
  }

  .stores {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 675px;
    margin-top: 200px;
  }

  .button {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    width: 311px;
    border-radius: 38px;
    background-color: #5e42b0;
    border-color: #5e42b0;
    padding-left: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-right: 30px;
    margin-right: 10px;
  }

  .button:nth-of-type(2) {
    margin-left: 10px;
  }

  .button:active, .button:focus {
    outline: none;
  }

  .store-icon {
    fill: white;
    width: 75px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .download-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 25px;
    height: inherit;
    margin-top: auto;
    margin-bottom: auto;
  }

  .download {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: opensans-regular;
    font-weight: 400;
  }

  .store {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: opensans-bold;
    font-weight: 700;
  }

  .player {
    margin-top: 68px;
    margin-left: auto;
    position: absolute;
  }

  .side-bar {
    padding-top: 90px;
    margin-right: auto;
  }

  .title {
    text-transform: uppercase;
    font-size: 80px;
    color: #e7e7e7;
    font-family: opensans-bold;
    font-weight: 700;
    margin-right: auto;
    margin-left: 45%;
  }

  .side {
    padding-top: 90px;
    padding-bottom: 40px;
  }

  .side:nth-of-type(2n) {
    background-color: #f6f4fa;
  }

  .side:nth-of-type(3n) {
    background-color: #5e42b0;
  }

  .name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-left: 45%;
  }

  .number {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-family: opensans-bold;
    font-weight: 700;
    position: relative;
  }

  .number::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .number_white {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-family: opensans-bold;
    font-weight: 700;
    position: relative;
  }

  .number_white::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
  }

  .number:nth-of-type(3n)::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #f5f6f7;
  }

  .name-title {
    font-size: 36px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 10px;
    line-height: 34px;
  }

  .text {
    font-size: 20px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 45%;
  }

  .b-side-bar {
    padding-top: 90px;
    margin-left: auto;
  }

  .b-player {
    position: absolute;
    right: 1%;
  }

  .b-title {
    text-transform: uppercase;
    font-size: 80px;
    color: #e7e7e7;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 9%;
    padding-bottom: 50px;
  }

  .b-name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-left: 9%;
  }

  .b-text {
    font-size: 20px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 9%;
  }

  .side-menu {
    position: relative;
  }

  .side-number-1{
    position: absolute;
    margin-top: 67%;
    margin-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 115px;
    background-color: #5e42b0;
    color: #f5f6f7;
    font-family: opensans-bold;
    font-weight: 700;
    width: 115px;
    height: 115px;
  }

  .side-number-1::before{
    content:"";
    position: absolute;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #8f7bc8;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    z-index: 2;
  }

  .side-number-2{
    position: absolute;
    margin-top: 67%;
    margin-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 115px;
    background-color: #5e42b0;
    color: #f5f6f7;
    font-family: opensans-bold;
    font-weight: 700;
    width: 115px;
    height: 115px;
  }

  .side-number-2::before{
    content:"";
    position: absolute;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #8f7bc8;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    z-index: 2;
  }

  .side-number-3{
    position: absolute;
    margin-top: 67%;
    margin-left: 30px;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 115px;
    background-color: #5e42b0;
    color: #f5f6f7;
    font-family: opensans-bold;
    font-weight: 700;
    width: 115px;
    height: 115px;
  }

  .side-number-3::before{
    content:"";
    position: absolute;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #8f7bc8;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60%;
    z-index: 2;
  }

  .side-photo img{
    display: block;
  }

  .side-a-odd {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 80px;
    margin-top: 80px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 30px;
    text-transform: uppercase;
  }

  .side-a-even {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 80px;
    margin-top: 80px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 30px;
    text-transform: uppercase;
  }

  .side-t-odd{
    margin-top: 6.25%;
    padding-left: 30px;
    padding-right: 11%;
    padding-bottom: 90px;
    font-size: 34px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
  }

  .side-t-even{
    margin-top: 6.25%;
    padding-left: 30px;
    padding-right: 11%;
    padding-bottom: 90px;
    font-size: 34px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
  }

  .footer {
    background: url('../images/game_1920.jpg') no-repeat;
    position: relative;
    z-index: 2;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .footer::after {
    content:"";
    background-color: #0a0e34;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.9;
    z-index: -1;
  }

  .app-link{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
  }

  .icon-link-app{
    margin-right: auto;
    margin-left: auto;
    width: 135px;
    height: 135px;
    border-radius: 38px;
    background-color: #5e42b0;
  }

  .f-container{
    margin-top: 80px;
    text-align: center;
  }

  .f-download{
    text-transform: uppercase;
    font-size: 80px;
    letter-spacing: 4px;
    color: #ffffff;
    font-family: opensans-regular;
    font-weight: 700;
    text-align: center;
  }

  .f-text{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 4px;
    color: #a496ca;
    font-family: opensans-bold;
    font-weight: 400;
    text-align: center;
  }

  .footer-logo-box{
    margin-top: 280px;
    width: 215px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media (max-width: 639px) {
  .header {
    background: url('../images/football_767.jpg') no-repeat;
    position: relative;
    z-index: 2;
    padding-bottom: 85px;
    padding-top: 45px;
  }

  .header::after {
    content:"";
    background-color: #0a0e34;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.9;
    z-index: -1;
  }

  .logo-box {
    display: block;
    text-align: center;
    width: 100%;
  }

  .svg {
    width: 170px;
    margin-right: 95px;
    margin-left: 95px;
  }

  .preview-article {
    margin-top: 130px;
    width: 100%;
    text-align: center;
    margin-left: 10%;
    display: block;
    text-transform: uppercase;
    font-size: 28px;
    letter-spacing: 5px;
    line-height: 31px;
    color: #ffffff;
    font-family: opensans-bold;
    font-weight: 700;
  }

  .preview-text2 {
    display: block;
    margin-top: 25px;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 40px;
  }

  .stores {
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 90px;
  }

  .button {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 80%;
    height: 40px;
    border-radius: 38px;
    background-color: #5e42b0;
    border-color: #5e42b0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }

  .button:active, .button:focus {
    outline: none;
  }

  .store-icon {
    fill: white;
    width: 40px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
  }

  .download-container {
    margin-left: 10px;
    margin-right: auto;
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .download {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: opensans-regular;
    font-weight: 400;
    text-align: left;
  }

  .store {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 1px;
    color: #ffffff;
    font-family: opensans-bold;
    font-weight: 700;
    text-align: left;
  }

  .player {
    width: 192px;
    position: absolute;
    margin-top: 100px;
    margin-bottom: -100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .side-bar {
    margin-right: auto;
  }

  .title {
    text-transform: uppercase;
    font-size: 50px;
    color: #e7e7e7;
    font-family: opensans-bold;
    font-weight: 700;
    margin-right: auto;
    margin-left: 20px;
  }

  .side-content {
    margin-top: 280px;
}

  .side {
    padding-left: 20px;
    padding-top: 80px;
    padding-bottom: 55px;
    background-color: #fafafa;
  }

  .side:nth-of-type(2n) {
    background-color: #f6f4fa;
  }

  .side:nth-of-type(3n) {
    background-color: #5e42b0;
  }

  .name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .number {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-family: opensans-bold;
    font-weight: 700;
    position: relative;
  }

  .number::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #5e42b0;
  }

  .number_white {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 34px;
    color: #000000;
    font-family: opensans-bold;
    font-weight: 700;
    position: relative;
  }

  .number_white::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #ffffff;
  }

  .number:nth-of-type(3n)::after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #f5f6f7;
  }

  .name-title {
    font-size: 23px;
    letter-spacing: 2px;
    color: #c1c1c1;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 10px;
  }

  .text {
    font-size: 15px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
    margin-top: 30px;
  }

  .b-side-bar {
    padding-top: 90px;
    margin-left: auto;
  }

  .b-player {
    width: 302px;
    position: absolute;
    margin-top: 160px;
    margin-bottom: -180px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .b-title {
    text-transform: uppercase;
    font-size: 50px;
    color: #e7e7e7;
    font-family: opensans-bold;
    font-weight: 700;
    margin-right: auto;
    margin-left: 20px;
  }

  .b-side-content {
    margin-top: 280px;
  }

  .b-name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    margin-left: 9%;
  }

  .b-text {
    font-size: 15px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
    margin-top: 30px;
    margin-left: 9%;
  }

  .side-menu {
    position: relative;
  }

  .side-number-1{
    position: absolute;
    margin-left: 30px;
    margin-bottom: 225px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 70px;
    background-color: #5e42b0;
    color: #f5f6f7;
    font-family: opensans-bold;
    font-weight: 700;
    width: 70px;
    height: 70px;
  }

  .side-number-1::before{
    content:"";
    position: absolute;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #8f7bc8;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    z-index: 2;
  }

  .side-number-2{
    position: absolute;
    margin-bottom: 210px;
    margin-left: 30px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 70px;
    background-color: #5e42b0;
    color: #f5f6f7;
    font-family: opensans-bold;
    font-weight: 700;
    width: 70px;
    height: 70px;
  }

  .side-number-2::before{
    content:"";
    position: absolute;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #8f7bc8;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    z-index: 2;
  }

  .side-number-3{
    position: absolute;
    margin-bottom: 250px;
    margin-left: 30px;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 70px;
    background-color: #5e42b0;
    color: #f5f6f7;
    font-family: opensans-bold;
    font-weight: 700;
    width: 70px;
    height: 70px;
  }

  .side-number-3::before{
    content:"";
    position: absolute;
    width: 19px;
    height: 5px;
    border-radius: 2px;
    background-color: #8f7bc8;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 45px;
    z-index: 2;
  }

  .side-photo img{
    display: block;
  }

  .side-a-odd {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 28px;
    margin-top: 37px;
    letter-spacing: 1px;
    color: #c1c1c1;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 30px;
    text-transform: uppercase;
  }

  .side-a-even {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 28px;
    margin-top: 37px;
    letter-spacing: 1px;
    color: #c1c1c1;
    font-family: opensans-bold;
    font-weight: 700;
    margin-left: 30px;
    text-transform: uppercase;
  }

  .side-t-odd{
    margin-top: 6.25%;
    padding-left: 30px;
    padding-right: 11%;
    padding-bottom: 80px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
    width: 280px;
  }

  .side-t-even{
    margin-top: 6.25%;
    padding-left: 30px;
    padding-right: 11%;
    padding-bottom: 80px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #000000;
    font-family: opensans-regular;
    font-weight: 400;
    width: 280px;
  }

  .footer {
    background: url('../images/game_1920.jpg') no-repeat;
    position: relative;
    z-index: 2;
    -webkit-background-size: cover;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .footer::after {
    content:"";
    background-color: #0a0e34;
    background-size: 100% 100%;
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    opacity: 0.9;
    z-index: -1;
  }

  .app-link{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;

  }

  .icon-link-app{
    margin-right: auto;
    margin-left: auto;
    width: 135px;
    height: 135px;
    border-radius: 38px;
    background-color: #5e42b0;
  }

  .f-container{
    margin-top: 80px;
    text-align: center;
  }

  .f-download{
    text-transform: uppercase;
    font-size: 32px;
    letter-spacing: 4px;
    color: #ffffff;
    font-family: opensans-regular;
    font-weight: 700;
    text-align: center;
  }

  .f-text{
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 4px;
    color: #a496ca;
    font-family: opensans-bold;
    font-weight: 400;
    text-align: center;
  }

  .footer-logo-box{
    margin-top: 280px;
    width: 215px;
    margin-right: auto;
    margin-left: auto;
  }
}
