* {
  margin: 0;
  padding: 0;
  border: 0;
}

  @font-face {
    font-family: opensans-bold;
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: opensans-regular;
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }

.header {
  background: url('../images/football_1920.jpg') no-repeat;
  position: relative;
  z-index: 2;
  padding-bottom: 110px;
}

.header::after {
  content:"";
  background-color: #0a0e34;
  background-size: 100% 100%;
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  opacity: 0.9;
  z-index: -1;
}

.logo-box {
  display: block;
  text-align: center;
}

.preview-text1 {
  margin-left: 190px;
  text-transform: uppercase;
  margin-top: 300px;
  font-size: 90px;
  letter-spacing: 5px;
  line-height: 31px;
  color: #ffffff;
  font-family: opensans-bold;
  font-weight: 700;
}

.preview-text2 {
  margin-top: 25px;
  font-size: 90px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 100px;
  color: #ffffff;
  font-family: opensans-bold;
  font-weight: 700;
}

.stores {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  width: 675px;
  margin-top: 200px;
}

.link-button {
  text-decoration: none;
  color: white;
}

.button {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 311px;
  height: 77px;
  border-radius: 38px;
  background-color: #5e42b0;
  border-color: #5e42b0;
}

.button:active, .button:focus {
  outline: none;
}

.store-icon {
  fill: white;
  width: 75px;
  padding-left: 35px;
  margin-top: auto;
  margin-bottom: auto;
}

.download-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: 25px;
  height: inherit;
}

.download {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: opensans-regular;
  font-weight: 400;
  margin-top: auto;
}

.store {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  color: #ffffff;
  font-family: opensans-bold;
  font-weight: 700;
  margin-bottom: auto;
}

.main-bar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.title {
  text-transform: uppercase;
  font-size: 80px;
  line-height: 60px;
  color: #e7e7e7;
  font-family: opensans-bold;
  font-weight: 700;
  margin-right: auto;
  margin-left: 52%;
  margin-top: 115px;
}

.side {
  margin-left: 52%;

}

.side:nth-child(3n+1) {
  margin-top: 50px;
}

.name {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.number {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 34px;
  color: #000000;
  font-family: opensans-bold;
  font-weight: 700;
  position: relative;
}

.number::after {
  content:"";
  position: absolute;
  margin-top: 30px;
  margin-left: -21px;
  width: 19px;
  height: 5px;
  border-radius: 2px;
  background-color: #5e42b0;
}

.name-title {
  font-size: 36px;
  letter-spacing: 2px;
  line-height: 34px;
  color: #c1c1c1;
  font-family: opensans-bold;
  font-weight: 700;
  margin-left: 10px;
}

.text {
  font-size: 20px;
  letter-spacing: 1px;
  color: #000000;
  font-family: opensans-regular;
  font-weight: 400;
  margin-left: 52%;
}
