body {
  margin: 0;
  padding: 0;
}

  @font-face {
    font-family: opensans-bold ;
    src: url(fonts/OpenSans-Bold.ttf);
  }

  @font-face {
    font-family: opensans-regular ;
    src: url(fonts/OpenSans-Regular.ttf);
  }

.wrapper {
  background-image: url('images/football_1920.jpg');
  background-color: #0a0e34;
}
